@media screen and (max-width: 750px) {
  body {
    font-size: 16px;
    line-height: 28px;
  }
  section {
    max-width: 600px;
    align-items: center;
  }
  #section_news {
    padding-top: 50px;
  }
  header {
    padding: 10px 20px;
    height: 40px;
  }
  header .header__logo {
    font-size: 16px;
  }
  header .burger {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .header__menu.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__menu.overlay .menu__item {
    margin-bottom: 10px;
    padding: 10px 0;
  }
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .main__content {
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 0;
  }
  .main__content h2 {
    margin-bottom: 30px;
    padding-right: 55px;
  }
}
@media screen and (max-width: 450px) {
  section {
    max-width: 380px;
  }
}
